/* Universal Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */

:root {
  --primary-color: #007bff;
  --font-base: Arial, sans-serif;
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #2a2a2a;
  color: #ffffff;
  resize: none;
}

/* Header */

header {
  background-position: center;
  background-size: cover;
  height: 100px;
}

header a {
    text-decoration: none;
}

header h1 {
  color: #009ece;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  padding: 20px;
  margin: 0px auto;
}

/* Table */

table {
  border-collapse: collapse;
  width: 800px;
  background-color: #2a2a2a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #2a2a2a;
  color: #ee8f00;
  padding: 20px;
  text-align: center;
}

td {
  padding: 12px;
  border-top: 1px solid #000000;
  color: #fff;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #212020;
}

/* Navigation Buttons */

.main-buttons {
  text-align: center;
}

.portal-button-blue {
  padding: 10px 20px;
  background-color: #009ece;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.portal-button-blue:hover {
  box-shadow: 0 0 20px #009ece;
  transition: box-shadow 0.3s ease;
}

.portal-button-blue:active {
  box-shadow: 0 0 20px #ee8f00;
}

.portal-button-orange {
  margin: 20px;
  padding: 10px 20px;
  background-color: #ee8f00;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
}

.portal-button-orange:hover {
  box-shadow: 0 0 20px #ee8f00;
  transition: box-shadow 0.3s ease;
}

.portal-button-orange:active {
  box-shadow: 0 0 20px #009ece;
}